.container {
  width: 100%;
  height: 80px;
  box-shadow: whitesmoke;

  background-color: #fff;
  z-index: 1;
  top: 0;
  box-shadow: -1px 4px 10px 0 rgb(0 0 0 / 10%);
  display: flex;
}
.logo {
  width: 30%;
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
 
}
.logo img {
  width: 150px;
  height:150px;
  margin-top: 10px;
}

/* form */

.container_form {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.form {
  height: auto;
  width: 45%;

  margin: auto;
  margin-right: 60px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  text-align: center;
}
.text {
  height: auto;
  width: 45%;
  display: flex;
  margin: auto;

}
.heading h1 {
  color: #2e2e2e;
  font-size: 24px;
  margin-top: 10px;
}
.heading {
  width: 70%;
  height: 60px;

  margin: auto;
  margin-top: 20px;
}

.heading button :hover {
  background-color: #2e2e2e;
}
.footer_div {
  width: 70%;
  height: 60px;

  margin: auto;
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}
.footer :hover {
  text-decoration: underline;
}
#head :hover {
  text-decoration: underline;
}
#head {
  width: 20%;
  height: 60px;

  margin: auto;
  margin-top: 10px;
}
.googlelog {
  width: 65%;

  margin: auto;
  height: 50px;
  /* border: 1px solid red; */
}
.child {
  width: 80%;
  display: flex;
  margin: auto;
  height: 40px;
  /* border: 1px solid green; */
  text-align: center;
  margin: auto;
  margin-bottom: 50px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.freelogo {
  width: 30%;
  margin-top: 50px;
  margin: auto;
  /* border: 1px solid yellow; */
  height: 50px;
}
.textitem {
  width: 80%;
 
  margin: auto;
  height: 50px;

 
}
.textitem h1 {
  font-size: 20px;
  font-weight: 700;
  color: #2e2e2e;
}
.freelogo img {
  width: 40px;
  height: 35px;
  margin-left: 20px;
}
#h1text {
  margin-top: 10px;
  width: 40%;
}
@media screen and (max-width: 1100px) {
  .googlelog {
    width: 66%;
  
    margin: auto;
    height: 70px;
    /* border: 1px solid red; */
  }
  .textitem h1 {
    font-size: 18px;
    font-weight: 700;
    color: #2e2e2e;
  }
  .child {
    width: 90%;
    display: flex;
    margin: auto;
    height: 45px;
    /* border: 1px solid green; */
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }
  .freelogo {
    width: 30%;
    margin-top: 50px;
    margin: auto;
    /* border: 1px solid yellow; */
    height: 50px;
  }


}

@media screen and (max-width: 900px) {
  .container_form {
    height: auto;
    width: 100%;
  
    display: flex;
    flex-direction: column;
  }
  .text {
    width: 100%;
    height: auto;
    margin: auto;

 
  }

  .form {
    height: auto;
    width: 100%;

    margin: auto;
    margin-right: 60px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    text-align: center;
  }
}
@media screen and (max-width: 590px) {
    .heading h1 {
        color: #2e2e2e;
        font-size: 20px;
        margin-top: 10px;
      }
      .heading {
        width: 100%;
        height: 60px;
      
        margin: auto;
        margin-top: 20px;
      }
      
      .heading button :hover {
        background-color: #2e2e2e;
      }
      .footer_div {
        width: 100%;
        height: 80px;
      
        margin: auto;
        margin-top: 10px;
        display: flex;
        justify-content: space-evenly;
      }
      .footer :hover {
        text-decoration: underline;
      }
      #head :hover {
        text-decoration: underline;
      }
      #head {
        width: 80%;
        height: 60px;
      
        margin: auto;
        margin-top: 10px;
      }
      .googlelog {
        width: 95%;

        margin: auto;
        height: 50px;
      }
      .child {
        width: 80%;
        display: flex;
        margin: auto;
        height: 50px;
   
        text-align: center;
        margin: auto;
        margin-bottom: 50px;
      }
    
      .textitem {
        width: 80%;
      
        margin: auto;
        height: 50px;
      
     
      }
      .textitem h1 {
        font-size: 20px;
        font-weight: 700;
        color: #2e2e2e;
    
      }
      .freelogo img {
        width: 40px;
        height: 40px;
      }
      #h1text {
        margin-top: 10px;
        width: 40%;
      }
    
    .smtext{
    font-size: 14px;
    } 
      
}
@media screen and (max-width: 367px){
    .googlelog {
        width: 100%;

        margin: auto;
        height: 50px;
      }
      .child {
        width: 80%;
        display: flex;
        margin: auto;
        height: 50px;
      
        text-align: center;
        margin: auto;
        margin-bottom: 50px;
      }
    
      .textitem {
        width: 90%;
     
        margin: auto;
        height: 50px;
      
     
      }
      .textitem h1 {
        font-size: 17px;
        font-weight: 700;
        color: #2e2e2e;

      }

}


